/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ce19fb #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ce19fb;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #CA19F9;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #df6aff;
}

::-webkit-scrollbar-thumb:active {
    background: #df6aff;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* ===== Custom CSS ===== */
* {
    box-sizing: border-box;
    font-family: 'Onest Variable', sans-serif !important;
}

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    color: #fff;
}

.section-title {
    background-image: linear-gradient(to right, #b102d9, #9b13bf, #8619a6, #711c8d, #5e1c75);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /*&:after {
        content: '';
        width: 50px;
        height: 10px;
        display: block;
        background-image: inherit;
        border-radius: 5px px;
        position: absolute;
        left: 50%;
        top: 130%;
        transform: translateX(-50%);
    }*/
}