---
import FloatingMenu from "@/components/FloatingMenu.astro";
import Projects from "@/components/Projects.astro";
import SctrollToTop from "@/components/SctrollToTop.astro";
import Timeline from "@/components/Timeline.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import "@fontsource-variable/onest";

export const prerender = true;
---

<Layout>
    <Hero />
    <section id="experience">
        <div class="container max-w-screen-md m-auto pt-20 pb-20">
            <div class="text-center">
                <h2
                    class={`inline-block z-10 relative text-5xl md:text-7xl lg:text-9xl font-bold mb-14 bg-clip-text section-title text-slate-50`}
                >
                    Experience
                </h2>
            </div>
            <Timeline />
        </div>
    </section>
    <section id="projects">
        <div class="container max-w-screen-md m-auto pt-20 pb-20">
            <div class="text-center">
                <h2
                    class="inline-block z-10 relative text-5xl md:text-7xl lg:text-9xl font-bold mb-14 bg-clip-text section-title text-slate-50"
                >
                    Projects
                </h2>
            </div>
            <Projects />
        </div>
    </section>
    <FloatingMenu />
    <SctrollToTop />
</Layout>
