---
import "@fontsource-variable/onest";
import FloatingMenu from "../components/FloatingMenu.astro";
import Link from "../components/Link.astro";
import Projects from "../components/Projects.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";

import experience from "../data/experience.json";

const lastPosition = experience.at(0)!.position;

export const prerender = true;
---

<Layout>
    <div
        id="home"
        class="top-0 left-0 w-100 xl:min-h-screen pt-10 md:pt-20 relative"
    >
        <div
            class="container m-auto grid md:grid-rows-1 grid-cols-1 md:grid-cols-2 place-items-center"
        >
            {/* INFO */}
            <div class="grid grid-rows-2 md:grid-rows-3 col-start-1">
                <div class="place row-start-1 row-end-4 mb-10 md:mb-0">
                    <h1
                        class="text-6xl font-semibold mb-2 d-inline text-center"
                    >
                        JORGE SERRANO
                    </h1>
                    <p
                        class="text-xl text-center mb-2 text-purple-600 font-semibold"
                    >
                        {lastPosition}
                    </p>
                    <p
                        class="max-w-sm md:max-w-md text-lg text-center m-auto text-gray-300"
                    >
                        I'm a passionate software developer with a keen interest
                        in exploring new technologies and pushing the boundaries
                        of what's possible in the digital world.
                    </p>
                    <div class="flex justify-center mt-10">
                        <Link
                            download="jorge_serrano_cv"
                            href="/jorge_serrano_cv.pdf"
                        >
                            Download cv
                        </Link>
                    </div>
                </div>
            </div>
            {/* IMAGE */}
            <section
                class="flex justify-center relative md:col-start-2 md:row-start-1 md:row-end-1"
            >
                <img
                    src="/me.webp"
                    width={698}
                    height={766}
                    class="w-[70%] md:w-full"
                    alt="Jorge Serrano"
                    fetch-priority="high"
                />
            </section>
        </div>
        {/* WAVES */}
        <div class="relative hidden md:block">
            <div class="absolute left-0 top-[-400px] z-[-1]">
                <img
                    src="/home-purple.svg"
                    fetch-priority="high"
                    width={271}
                    height={688}
                    alt="Home purple XPR home"
                />
            </div>
            <div class="absolute right-0 opacity-40">
                <img
                    src="/home-green.svg"
                    width={271}
                    fetch-priority="high"
                    height={688}
                    alt="Home green XPR home"
                />
            </div>
        </div>
    </div>
    <section id="experience">
        <div class="w-[70%] md:w-60% max-w-screen-md m-auto pt-20 pb-20">
            <div class="text-center">
                <h2
                    class={`inline-block z-10 relative text-5xl md:text-7xl lg:text-9xl font-bold mb-10 bg-clip-text section-title`}
                >
                    Experience
                </h2>
            </div>
            <Timeline />
        </div>
    </section>
    <section>
        <div class="w-[70%] md:w-60% max-w-screen-md m-auto pt-20 pb-20">
            <div class="text-center">
                <h2
                    class={`inline-block z-10 relative text-5xl md:text-7xl lg:text-9xl font-bold mb-10 bg-clip-text section-title`}
                >
                    Projects
                </h2>
            </div>
            <Projects />
        </div>
    </section>
    <FloatingMenu />
</Layout>
