---
import floating from "../data/floating.json";
import FloatingMenuItem, { type Icon } from "./FloatingMenuItem.astro";
---

<div
    class="flex flex-col z-30 justify-center align-middle fixed top-[50%] translate-y-[-50%] shadow-md"
>
    {
        floating.map((el) => {
            return (
                <FloatingMenuItem
                    icon={el.icon as Icon}
                    ariaLabel={el.ariaLabel}
                    href={el.href}
                    disabled={el.disabled}
                    download={el.download}
                />
            );
        })
    }
</div>
