---
const links = [
    {
        label: "Experience",
        href: "#experience",
    },
    {
        label: "Technologies",
        href: "#technologies",
    },
    {
        label: "Projects",
        href: "#projects",
    },
];
---

<div class="flex justify-center mt-5">
    <nav
        class="border shadow-sm shadow-white border-slate-50 bg-slate-50 rounded-[100px] inline-block"
    >
        <ul class="flex">
            {
                links.map(({ label, href }) => (
                    <li class="[&:not(:last-child)]:border-r border-slate-200">
                        <a
                            class="py-1 px-3 block uppercase text-sm transition-colors hover:text-purple-600 font-semibold text-slate-800"
                            href={href}
                        >
                            {label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>
