---
import { ArrowUp } from "lucide-react";
---

<div class="absolute top-[120vh] bottom-1 right-4 md:right-8">
    <button
        id="scrollToTop"
        type="button"
        class="bg-slate-50 font-medium rounded-md text-sm p-2.5 text-center sticky top-[93vh] z-50 shadow-sm group"
    >
        <ArrowUp className="group-hover:-translate-y-1 transition-transform" />
    </button>
</div>

<script>
    const scrollToTop = document.getElementById("scrollToTop");

    scrollToTop?.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });
</script>
