@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./commons";

* {
    box-sizing: border-box;
    font-family: 'JetBrainsMono-VariableFont_wght';
    font-family: 'JetBrains Mono', monospace;

}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: $js-black-2;
    color: #fff;
}

main {
    width: 100vw;
    min-height: 100vh;
}
