.cajita {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;

    .title {
        display: block;
        // background-image: linear-gradient(to right bottom, #6da7ff, #5997fd, #4687fa, #3576f5, #2865f0);
        // -webkit-background-clip: text;
        // color: transparent;
    }
}

.scroll_icon_home {
    top: 99%;
    transform: translateY(-50%);
}